*,
*:after,
*:before {
  box-sizing: border-box;
}
h2 {
  padding: 0;
  margin: 0!important;
}
body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Exo 2', sans-serif;
}
#bg {
  background-color: #324ca8;
}
.login-form {
  width: 360px;
  background: #f1f1f1;
  height: 580px;
  padding: 80px 40px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.login-form h1 {
  text-align: center;
  margin-bottom: 60px;
}
.txtb {
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px 0;
}
.txtb input {
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}
.txtb span::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  z-index: -1;
  transition: .5s;
}
.txtb span::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background: linear-gradient(120deg, #3498db, #8e44ad);
  transition: .5s;
}
.logbtn {
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  background: linear-gradient(120deg, #3498db, #8e44ad, #3498db);
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: .5s;
}
.logbtn:hover {
  background-position: right;
}
.bottom-text {
  margin-top: 60px;
  text-align: center;
  font-size: 13px;
}
.focus + span::before {
  top: -5px;
}
.nav-item a {
  text-decoration: none;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}
.nav-item a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #118c27;
  bottom: 0;
  transition: 0.5s;
  left: -100%;
}
.nav-item a:hover:before {
  left: 0;
  transition: 0.6s;
}
.user_name {
  font-weight: bold;
  color: #000;
}
.menu-center {
  width: 360px;
  background: #f1f1f1;
  height: 580px;
  padding: 80px 40px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.button_center {
  border: 2px solid #000;
  background-color: #218ac2;
  padding: 10px 10px;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
}
.button_center p {
  line-height: 35px;
}
.button_center a {
  color: #fff;
}
.padding {
  padding-top: 20px;
}
.img_product {
  width: 100%;
  max-width: 200px;
  max-height: 150px;
  height: 100%;
}
.farm_group {
  color: #f8640f;
}
.name {
  color: #4416c9;
  font-weight: bold;
}
.link_delet {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.link_delet:hover {
  text-decoration: none;
  transition: .4;
  color: #f55142;
}
.sceme_bd img {
  width: 100%;
  max-width: 950px;
}
